:root{--search-primary: #712cf9;--search-container-bg: rgba(101, 108, 133, 0.8);--search-bg: #f5f6f7;--search-color: #212529;--search-color-secondary: #64676a;--search-result-bg: white;--search-result-bg-active: var(--search-primary);--search-result-color: var(--search-color);--search-result-color-active: white;--search-result-color-secondary: var(--search-color-secondary);--search-result-color-secondary-active: #fafafb;--search-result-highlight-bg: inherit;--search-result-highlight-color: inherit;--search-border-color: #dee2e6}.search-dropdown{position:relative}.search-dropdown.show .search-dropdown-menu{display:block}.search-dropdown.active .search-dropdown-toggle{color:var(--search-primary)}.search-dropdown-toggle{background:transparent;border:0;color:inherit}.search-dropdown-menu{display:none;position:absolute;background-color:var(--search-bg);min-width:160px;border:1px solid var(--search-border-color);border-radius:0.25rem;margin:0;padding:0.5rem 0}.search-dropdown-item{padding:0.25rem 0.5rem;white-space:nowrap}.search-dropdown-item.active,.search-dropdown-item:hover{background:var(--search-primary);color:white}.search-modal-container{background:var(--search-container-bg);position:fixed;top:0;left:0;width:100%;height:100%;display:none;z-index:1100}.search-modal-container.active{display:flex}.search-modal{height:100%;width:100%;flex-direction:column;position:fixed;display:flex;background:var(--search-bg);color:var(--search-color);overflow:hidden;min-height:360px}@media (min-width: 576px){.search-modal{border-radius:0.25rem;max-width:560px;max-height:600px;height:80%;left:calc((100% - 560px) / 2);top:10%}}.search-modal-header{background:inherit;padding:0.75rem 0.5rem 0;position:sticky;top:0;border-bottom:1px solid var(--search-border-color);margin-bottom:0.5rem;z-index:1}.search-modal-active{overflow:hidden !important}.search-modal-close{margin-left:0.25rem;background:var(--search-primary);color:white;border:none;border-radius:0.25rem;cursor:pointer}@media (min-width: 576px){.search-modal-close{display:none}}.search-modal-body{padding:0 0.5rem;overflow-y:auto;height:100%;flex:1}.search-modal-footer{background:inherit;position:sticky;bottom:0;padding:0.75rem 0.5rem;border-top:1px solid var(--search-border-color)}@media (max-width: 576px){.search-modal-footer{display:none}}.search-shortcut{display:inline-flex;margin:0.25rem 0.5rem 0.25rem 0;font-size:0.875rem;align-items:center}.search-shortcut-kbd-wrapper{margin-right:0.25rem}.search-shortcut-kbd-wrapper:not(:first-child)::before{content:"+";margin-right:0.125rem}.search-shortcut-kbd{background:#3e3e3e;border-radius:0.125rem;padding:0.125rem 0.25rem;color:white}.search-form{display:flex;margin-bottom:0.5rem;flex-wrap:wrap;flex-direction:column}.search-input-group{flex:1;position:relative}.search-input-icon,.search-spinner{background:transparent;border:none;color:var(--search-primary);position:absolute;top:0;height:100%;display:flex;justify-content:center;align-items:center;padding:0 0.75rem;left:0}.search-input-icon.disabled,.search-spinner.disabled{display:none}.search-spinner{animation-name:search-spin;animation-duration:2000ms;animation-iteration-count:infinite;animation-timing-function:linear}@keyframes search-spin{from{transform:rotate(0deg)}to{transform:rotate(360deg)}}.search-input-group{display:flex}.search-input{border-radius:0.25rem;border:1px solid var(--search-primary);padding:0.75rem 0.5rem 0.75rem 2.75rem;flex:1}.search-form-control{height:100%;margin-right:0.25rem;outline:none;background:var(--search-bg);color:var(--search-color)}.search-form-meta{width:100%;display:flex;justify-content:space-between;align-items:center;margin-top:0.25rem}.search-panel{display:flex}.search-panel-tool{margin:0.25rem 0 0}.search-filter-lang{border:none;appearance:none}.search-results{margin-bottom:0.5rem}.search-result{color:inherit;text-decoration:none;display:flex;flex-wrap:wrap;align-items:center;margin:0.5rem 0 0;padding:0.5rem;position:relative;border-radius:0.25rem;background:var(--search-result-bg);color:var(--search-result-color);transition:0.2s ease-out;outline:none}.search-result:first-child{margin-top:0}.search-result:hover,.search-result.active{background:var(--search-result-bg-active);color:var(--search-result-color-active)}.search-result:hover .search-result-meta,.search-result:hover .search-result-desc,.search-result.active .search-result-meta,.search-result.active .search-result-desc{color:var(--search-result-color-secondary-active)}.search-result:hover .search-result-heading-icon::before,.search-result.active .search-result-heading-icon::before{color:var(--search-result-color-secondary-active)}.search-result-icon{margin-right:0.5rem}.search-result-icon svg{vertical-align:middle}.search-result-content{display:flex;flex:1;margin:0 2rem 0.125rem 0;flex-wrap:nowrap;flex-direction:column;overflow:hidden}.search-result-desc{margin-top:0.25rem}.search-result-desc,.search-result-meta{font-size:0.75rem;color:var(--search-result-color-secondary)}.search-result-title,.search-result-desc{overflow:hidden;white-space:nowrap;text-overflow:ellipsis}.search-result-title mark,.search-result-desc mark{background:var(--search-result-highlight-bg);color:var(--search-result-highlight-color);text-decoration:underline}.search-result-meta{margin-top:0.5rem;padding:0 0.25rem;overflow:hidden;white-space:nowrap;width:100%;text-overflow:ellipsis;transition:opacity 0.35s linear;opacity:1}.search-result-meta:not(.show){opacity:0;height:0;margin-top:0}.search-result-meta span{margin-right:0.125rem}.search-result-meta span:not(:last-child)::after{content:"·";padding-left:0.25rem}.search-result-lang{text-transform:uppercase}.search-result-taxonomy::before{content:"#"}.search-result-headings{margin-left:1rem}.search-result-heading{padding-left:1.25rem;margin-top:0.25rem}.search-result-heading-icon{margin-right:0.25rem}.search-result-heading-icon::before{content:"∟";color:var(--search-result-color-secondary)}.search-result-actions{position:absolute;right:0.5rem}.search-result-action{padding:0.25rem}.search-stat{font-size:0.875rem;color:var(--search-color-secondary)}.search-stat-results{color:var(--search-primary)}
html {
  scroll-padding-top: 64px;
  font-family: system-ui, sans-serif; }

[data-theme="dark"] {
  --search-primary: #9864ff;
  --search-bg: #121212;
  --search-color: white;
  --search-color-secondary: rgba(255, 255, 255, 0.7);
  --search-border-color: rgba(255, 255, 255, 0.5);
  --search-result-bg: #1e1e1e;
  --search-result-color: rgba(255, 255, 255, 0.7);
  --search-result-color-secondary: rgba(255, 255, 255, 0.5); }
  [data-theme="dark"] body {
    background: #121212;
    color: white; }

body {
  margin: 0;
  color: rgba(0, 0, 0, 0.8); }

a {
  color: inherit;
  text-decoration: none; }
  a:hover {
    color: var(--search-primary); }

header {
  position: sticky;
  top: 0;
  background: #9864ff;
  color: white;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row; }

ul {
  list-style: none;
  padding-left: 0; }
  ul li {
    margin-bottom: 0.35rem; }

.navbar {
  padding: 0 1rem;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  width: 100%; }
  .navbar ul {
    display: flex; }
    .navbar ul li {
      margin: 0.5rem; }

.nav-link {
  padding: 0.25rem;
  cursor: pointer;
  padding: 0;
  background: inherit;
  border: 0;
  color: inherit; }

.content {
  padding: 1rem;
  overflow: auto;
  word-wrap: break-word;
  display: flex;
  flex-direction: row; }

.main {
  flex: 1;
  word-break: break-word; }
  .main h2 {
    margin-bottom: 32rem; }

.sidebar {
  max-width: 240px; }
  @media (max-width: 576px) {
    .sidebar {
      display: none; } }
.main,
.sidebar {
  padding: 0 1rem; }
