[outputFormats]

[outputFormats.Search]
baseName = 'index'
path = 'search'
isHTML = true
mediaType = 'text/html'
notAlternative = true

[outputFormats.SearchIndex]
baseName = 'search'
isPlainText = true
mediaType = 'application/json'
notAlternative = true

[module]
[module.hugoVersion]
extended = true
min = "0.121.0"

[[module.imports]]
path = "github.com/hugomods/i18n-js"

[[module.imports]]
path = "github.com/hugomods/fuse-js"

[[module.imports]]
path = "github.com/hugomods/icons/vendors/bootstrap"

[params.hugopress.modules.search.hooks.head-end]

[params.hugopress.modules.search.hooks.body-end]

[params.search]
modal_container = "body"
modal_toggle_selector = '.search-modal-toggle'
stall_threshold = 300
case_sensitive = false
min_match_char_length = 1
location = 0
threshold = 0.6
distance = 100
ignore_location = false
shortcut_close = ["Escape"]
shortcut_search = ["Control", "k"]
paginate = 20
index_all_pages = false
index_content = false
expand_results_meta = false
lazy_loading = true
filter_taxonomies = true
filter_years = true
