<div class="alerts" role="alert">
  <p>1. Anything except the Modal are not belong to the built-in UI.</p>
  <p>
    2. The built-in UI doesn't contain the dark theme, what you saw is defined
    by the demo site via CSS variables.
  </p>
  <p>
    3. <kbd>CTRL</kbd>+<kbd>K</kbd> or click the search button to search on
    modal.
  </p>
  <p>4. Search on single page via form below.</p>
  {{- $formAction := partialCached "search/functions/search-url" . }}
  <form action="{{ $formAction }}">
    <input type="search" name="q" placeholder="Search on Single Page" />
  </form>
</div>
