{{- $defaultLang := .Sites.First.Language.Lang }}
{{- $langs := newScratch }}
{{- range .Site.Languages }}
  {{- $langs.Set .Lang (dict "lang" .Lang "name" .LanguageName) }}
{{- end }}
{{/* years. */}}
{{- $years := slice }}
{{- if default true site.Params.search.filter_years }}
  {{- $indexAllPages := default true .Site.Params.search.index_all_pages }}
  {{- $pages := cond $indexAllPages .Site.AllPages .Site.AllRegularPages }}
  {{- $pages = where $pages "Params.noindex" "ne" true }}
  {{- with $pages.GroupByDate "2006" }}
    {{- range . }}
      {{- if eq .Key "0001" }}
        {{- continue }}
      {{- end }}
      {{- $years = $years | append .Key }}
    {{- end }}
    {{- $years = sort $years }}
  {{- end }}
{{- end }}
{{/* taxonomies. */}}
{{- $taxonomies := newScratch }}
{{- if default true site.Params.search.filter_taxonomies }}
  {{- $allTaxonomies := newScratch }}
  {{- range .Site.Sites }}
    {{- range $name, $taxonomy := .Taxonomies }}
      {{- range $taxonomy }}
        {{- $allTaxonomies.Add $name (slice .Page.Title) }}
      {{- end }}
    {{- end }}
  {{- end }}
  {{/* remove duplicate taxonomies. */}}
  {{- range $name, $v := $allTaxonomies.Values }}
    {{- $taxonomies.Set $name ($v | uniq) }}
  {{- end }}
{{- end }}
{{- $taxonomyKeys := slice }}
{{- range $name, $v := .Site.Taxonomies }}
  {{- $taxonomyKeys = $taxonomyKeys | append $name }}
{{- end }}
{{/* i18n messages. */}}
{{- $i18n := newScratch }}
{{- range $lang, $messages := .Site.Data.search.i18n }}
  {{/* Exclude the unused messages. */}}
  {{- if isset $langs.Values $lang }}
    {{- $i18n.Set $lang $messages }}
  {{- end }}
{{- end }}
{{- $js := resources.Get "search/js/index.ts" }}
{{/* The SVG icons. */}}
{{- $icons := dict
  "page" (partial "icons/icon" (dict "vendor" "bootstrap" "name" "file-earmark-richtext" "width" "1.5rem" "height" "1.5rem"))
  "heading" (partial "icons/icon" (dict "vendor" "bootstrap" "name" "hash" "width" "1.5rem" "height" "1.5rem"))
  "meta" (partial "icons/icon" (dict "vendor" "bootstrap" "name" "info-circle" "width" "1.5rem" "height" "1.5rem"))
  "search" (partial "icons/icon" (dict "vendor" "bootstrap" "name" "search" "width" "1.25rem" "height" "1.25rem"))
  "spinner" (partial "icons/icon" (dict "vendor" "bootstrap" "name" "arrow-clockwise" "width" "1.5rem" "height" "1.5rem"))
  "lang" (partial "icons/icon" (dict "vendor" "bootstrap" "name" "translate" "width" "1rem" "height" "1rem"))
  "sort" (partial "icons/icon" (dict "vendor" "bootstrap" "name" "sort-down" "width" "1rem" "height" "1rem"))
  "expand" (partial "icons/icon" (dict "vendor" "bootstrap" "name" "chevron-expand" "width" "1rem" "height" "1rem"))
  "year" (partial "icons/icon" (dict "vendor" "bootstrap" "name" "calendar-check" "width" "1rem" "height" "1rem"))
  "taxonomies" (partial "icons/icon" (dict "vendor" "bootstrap" "name" "tags" "width" "1rem" "height" "1rem"))
}}
{{/* Include the following icons when necessary. */}}
{{- if default true .Site.Params.search.index_all_pages }}
  {{- $icons = merge $icons (dict
    "home" (partial "icons/icon" (dict "vendor" "bootstrap" "name" "house" "width" "1.5rem" "height" "1.5rem"))
    "section" (partial "icons/icon" (dict "vendor" "bootstrap" "name" "list" "width" "1.5rem" "height" "1.5rem"))
    "term" (partial "icons/icon" (dict "vendor" "bootstrap" "name" "tag" "width" "1.5rem" "height" "1.5rem"))
    "taxonomy" (partial "icons/icon" (dict "vendor" "bootstrap" "name" "tags" "width" "1.5rem" "height" "1.5rem")))
  }}
{{- end }}
{{/* Index files URL. */}}
{{- $indices := slice }}
{{- range .Sites }}
  {{- with .Home.OutputFormats.Get "SearchIndex" }}
    {{- $indices = $indices | append .RelPermalink }}
  {{- end }}
{{- end }}
{{- $defaultParams := partialCached "search/functions/params" . }}
{{- $params := merge $defaultParams (dict
  "icons" $icons
  "indices" $indices
  "i18n" $i18n.Values
  "defaultLang" $defaultLang
  "langs" $langs.Values
  "years" $years
  "taxonomies" $taxonomies.Values
  "taxonomyKeys" $taxonomyKeys)
}}
{{- $options := dict
  "targetPath" "js/search.js"
  "minify" hugo.IsProduction
  "params" $params
}}
{{- $js = $js | js.Build $options }}
{{- return $js -}}
