{{- $items := slice }}
{{- $indexAllPages := default true .Site.Params.search.index_all_pages }}
{{- $pages := cond $indexAllPages .Site.Pages .Site.RegularPages }}
{{- $pages = where $pages "Params.noindex" "ne" true }}
{{- range $pages }}
  {{- $page := . }}
  {{- $item := newScratch }}
  {{- $item.Set "title" .Title }}
  {{- $item.Set "summary" (.Summary | plainify) }}
  {{- $item.Set "kind" .Kind }}
  {{- $item.Set "lang" .Language.Lang }}
  {{- $item.Set "url" .RelPermalink }}
  {{- $item.Set "date" .Date.Unix }}
  {{- $item.Set "headings" (partialCached "search/functions/parse-headings" . .) }}
  {{/* Taxonomies */}}
  {{- range $name, $taxonomy := $.Site.Taxonomies }}
    {{- range $page.GetTerms $name }}
      {{- $item.Add "taxonomies" (slice .Title) }}
    {{- end }}
  {{- end }}
  {{- $items = $items | append $item.Values }}
{{- end }}
{{- $items | jsonify -}}
