{{- $items := slice -}}
{{- $indexContent := default false site.Params.search.index_content -}}
{{- $filterYears := default true site.Params.search.filter_years }}
{{- $pages := partial "search/functions/pages" . -}}
{{- range $pages -}}
  {{- $page := . -}}
  {{- $item := newScratch -}}
  {{- $item.Set "title" .Title -}}
  {{- if default true site.Params.search.index_summary -}}
    {{- $item.Set "summary" (default .Summary .Description | plainify | htmlUnescape) -}}
  {{- end -}}
  {{- if $indexContent }}
    {{- $item.Set "content" .Plain }}
  {{- end }}
  {{- $item.Set "kind" .Kind -}}
  {{- $item.Set "lang" .Language.Lang -}}
  {{- $item.Set "url" .RelPermalink -}}
  {{- $item.Set "date" .Date.Unix -}}
  {{- if $filterYears -}}
    {{- $item.Set "year" (.Date.Format "2006") -}}
  {{- end -}}
  {{/* Image */}}
  {{- if or $page.Params.images ($page.Resources.GetMatch "{*feature*,*cover*,*thumbnail*}") -}}
    {{- with partial "_funcs/get-page-images" $page -}}
      {{- $img := index . 0 -}}
      {{- $item.Set "img" $img.Permalink -}}
      {{- with $img.Image -}}
        {{- with .Width -}}
          {{- $item.Set "img_w" . -}}
        {{- end -}}
        {{- with .Height -}}
          {{- $item.Set "img_h" . -}}
        {{- end -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}
  {{- if default true site.Params.search.index_headings -}}
    {{- $item.Set "headings" (partialCached "search/functions/parse-headings" . .) -}}
  {{- end }}
  {{/* Taxonomies */}}
  {{- if default true site.Params.search.index_taxonomies -}}
    {{- range $name, $taxonomy := site.Taxonomies -}}
      {{- range $page.GetTerms $name -}}
        {{- $item.Add $name (slice .Title) }}
      {{- end -}}
    {{- end -}}
  {{- end }}
  {{- $items = $items | append $item.Values -}}
{{- end -}}
{{- $langs := newScratch -}}
{{- range .Site.Languages -}}
  {{- $langs.Set .Lang .LanguageName -}}
{{- end }}
{{- $taxonomies := newScratch -}}
{{- range $name, $taxonomy := site.Taxonomies -}}
  {{- range $taxonomy -}}
    {{- $taxonomies.Add $name (slice .Page.Title) -}}
  {{- end -}}
{{- end -}}
{{- $years := partial "search/functions/years" . -}}
{{- $data := dict
  "baseURL" site.BaseURL
  "langs" $langs.Values
  "pages" $items
  "taxonomies" $taxonomies.Values
  "years" $years
-}}
{{- $data | jsonify -}}
