{{- $items := slice -}}
{{- $multihost := partialCached "search/functions/is-multihost" . }}
{{- $indexContent := default false site.Params.search.index_content -}}
{{- $years := true }}
{{- $pages := partial "search/functions/pages" . -}}
{{- range $pages -}}
  {{- $page := . -}}
  {{- $item := newScratch -}}
  {{- $item.Set "title" .Title -}}
  {{- $item.Set "summary" (default .Summary .Description | plainify | htmlUnescape) -}}
  {{- if $indexContent }}
    {{- $item.Set "content" .Plain }}
  {{- end }}
  {{- $item.Set "kind" .Kind -}}
  {{- $item.Set "lang" .Language.Lang -}}
  {{- $item.Set "url" (cond $multihost .Permalink .RelPermalink) -}}
  {{- $item.Set "date" .Date.Unix -}}
  {{- if $years }}
    {{- $item.Set "year" (.Date.Format "2006") }}
  {{- end }}
  {{- $item.Set "headings" (partialCached "search/functions/parse-headings" . .) -}}
  {{/* Taxonomies */}}
  {{- range $name, $taxonomy := site.Taxonomies -}}
    {{- range $page.GetTerms $name -}}
      {{- $item.Add $name (slice .Title) }}
    {{- end -}}
  {{- end -}}
  {{- $items = $items | append $item.Values -}}
{{- end -}}
{{- $items | jsonify -}}
