.search-form {
    display: flex;
    margin-bottom: 0.5rem;
}

.search-input-group {
    flex: 1;
    position: relative;
}

.search-input-icon,
.search-spinner {
    background: transparent;
    border: none;
    color: var(--search-primary);
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0.75rem;
}

.search-input-icon {
    left: 0;
}

.search-spinner {
    right: 0;
    animation-name: search-spin;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    &.disabled {
        display: none;
    }
}

@keyframes search-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.search-input {
    border-radius: 0.25rem;
    border: 1px solid var(--search-primary);
    background: var(--search-bg);
    color: var(--search-color);
    padding: 0.5rem 2.25rem;
    width: 100%;
    outline: none;
}
