.search-form {
    display: flex;
}

.search-input-group {
    flex: 1;
    position: relative;
}

.search-input-icon {
    background: transparent;
    border: none;
    color: var(--search-primary);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0.75rem;
}

.search-input {
    border-radius: 0.25rem;
    border-color: var(--search-primary);
    padding: 0.5rem;
    padding-left: 2.25rem;
    width: 100%;
    outline: none;
}
