.search-modal {
    height: 100%;
    width: 100%;
    display: none;
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1100;
    background: var(--search-bg);
    overflow: hidden;

    &.active {
        display: flex;
    }
}

.search-modal-header {
    background: inherit;
    padding: 0.5rem;
    position: sticky;
    top: 0;
}

.search-modal-active {
    overflow: hidden !important;
}

.search-modal-close {
    margin-left: 0.25rem;
    background: var(--search-primary);
    color: white;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
}

.search-modal-body {
    padding: 0 0.5rem;
    overflow-y: auto;
    height: 100%;
}

.search-modal-footer {
    background: inherit;
    position: sticky;
    bottom: 0;
    padding: 0.75rem 0.5rem;
}
