:root {
    --search-primary: #712cf9;
    --search-container-bg: rgba(101, 108, 133, 80%);
    --search-bg: #f5f6f7;
    --search-color: #212529;
    --search-color-secondary: #64676a;
    --search-result-bg: white;
    --search-result-bg-active: var(--search-primary);
    --search-result-color: var(--search-color);
    --search-result-color-active: white;
    --search-result-color-secondary: var(--search-color-secondary);
    --search-result-color-secondary-active: #fafafb;
    --search-result-highlight-bg: inherit;
    --search-result-highlight-color: inherit;
    --search-border-color: #dee2e6;
}
