:root {
    --search-primary: #0d6efd;
    --search-bg: #f5f6f7;
    --search-result-bg: white;
    --search-result-color: #212529;
    --search-result-color-secondary: rgba(0, 0, 0, 0.7);
    --search-result-bg-active: var(--search-primary);
    --search-result-color-active: white;
    --search-result-color-secondary-active: rgba(255, 255, 255, 0.7);
}
