.search-result {
    color: inherit;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin: 0.5rem 0 0;
    padding: 0.5rem;
    border-radius: 0.25rem;
    background: var(--search-result-bg);
    color: var(--search-result-color);
    transition: 0.2s ease-out;
    outline: none;

    &:first-child {
        margin-top: 0;
    }

    &:hover,
    &.active {
        background: var(--search-result-bg-active);
        color: var(--search-result-color-active);

        .search-result-meta,
        .search-result-desc {
            color: var(--search-result-color-secondary-active);
        }
    }
}

.search-result-icon {
    margin-right: 0.5rem;

    svg {
        vertical-align: middle;
    }
}

.search-result-content {
    display: flex;
    flex: 1;
    margin: 0 0.125rem;
    flex-wrap: nowrap;
    flex-direction: column;
    overflow: hidden;
}

.search-result-desc,
.search-result-meta {
    font-size: 0.75rem;
    color: var(--search-result-color-secondary);
}

.search-result-title,
.search-result-desc {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.search-result-title,
.search-result-desc {
    margin-bottom: 0.125rem;

    mark {
        background: var(--search-result-highlight-bg);
        color: var(--search-result-highlight-color);
        text-decoration: underline;
    }
}

.search-result-meta {
    display: flex;
    justify-content: center;
    span {
        margin-right: 0.25rem;
    }

    @media (max-width: 576px) {
        display: none;
    }
}

.search-result-taxonomy {
    &::before {
        content: "#";
    }
}

.search-result-headings {
    margin-left: 1rem;
}

.search-result-heading {
    padding-left: 1.25rem;
    margin-top: 0.25rem;
}

.search-result-heading-icon {
    &::before {
        content: "∟";
        color: var(--search-result-color-secondary);
    }
}
