<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ .Site.Title }}</title>

    {{/* CSS Begin. */}}
    {{ $css := resources.Get "main.scss" | toCSS }}
    {{ $searchCSS := partial "search/assets/css-resource" . }}
    {{ $css = slice $searchCSS $css | resources.Concat "css/main.css" }}
    <link rel="stylesheet" href="{{ $css.RelPermalink }}" />
    {{/* CSS end. */}}
  </head>
  <body>
    {{ block "main" . }}{{ end }}

    {{/* Search modal toggle that has the "search-modal-toggle" class name. */}}
    <input class="search-modal-toggle" placeholder="CTRL+K to search" />
    <button class="search-modal-toggle">Search</button>

    <button class="theme-toggle">Light/Dark</button>

    <h2>NOTE THAT</h2>
    <ol>
      <li>Anything except the Modal are not belong to the built-in UI.</li>
      <li>
        The built-in UI/Modal doesn't contain the dark theme, it's just used to
        show how to define a dark theme via CSS variables.
      </li>
    </ol>

    {{/* Include the Search modal. */}}
    {{ partial "search/modal" . }}

    {{/* JS begin. */}}
    {{ $js := resources.Get "main.ts" | js.Build }}
    {{ $searchJS := partial "search/assets/js-resource" . }}
    {{ $js = slice $js $searchJS | resources.Concat "js/main.js" }}
    <script src="{{ $js.RelPermalink }}"></script>
    {{/* JS end. */}}
  </body>
</html>
