{{/* The baseof template for single search page. */}}
<!DOCTYPE html>
<html
  lang="{{ .Lang }}"
  {{ with .Language.LanguageDirection }}dir="{{ . }}"{{ end }}
>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      {{- block "title" . -}}{{ default .Site.Title .Title }}{{- end -}}
    </title>

    {{/* Search CSS. */}}
    {{ partial "search/assets/css" . }}

    {{/* Demo site CSS, after the search CSS to override the search's CSS variables. */}}
    {{ $css := partial "assets/css-resource" . }}
    <link rel="stylesheet" href="{{ $css.RelPermalink }}" />

    {{ partialCached "init-script" . }}
  </head>
  <body>
    {{ partialCached "header" . }}
    <div class="content">
      <div class="main">
        <h1>{{ i18n "search" }}</h1>
        <p>SINGLE SEARCH PAGE BUILT-IN UI BEGIN.</p>
        {{ block "main" . }}{{ end }}
        <p>SINGLE SEARCH PAGE BUILT-IN UI END.</p>
      </div>
      <div class="sidebar">
        {{ partialCached "sidebar" . }}
      </div>
    </div>
    {{/* Demo site JS. */}}
    {{- $js := partialCached "assets/js-resource" . }}
    <script src="{{ $js.RelPermalink }}" defer></script>

    {{/* Search JS. */}}
    {{ partialCached "search/assets/js" . }}
  </body>
</html>
