html {
    scroll-padding-top: 64px;
    font-family: system-ui, sans-serif;
}

[data-theme="dark"] {
    --search-primary: #9864ff;
    --search-bg: #121212;
    --search-color: white;
    --search-color-secondary: rgba(255, 255, 255, 0.7);
    --search-border-color: rgba(255, 255, 255, 0.5);
    --search-result-bg: #1e1e1e;
    --search-result-color: rgba(255, 255, 255, 0.7);
    --search-result-color-secondary: rgba(255, 255, 255, 0.5);

    body {
        background: #121212;
        color: white;
    }
}

body {
    margin: 0;
    color: rgba(0, 0, 0, 0.8);
}

a {
    color: inherit;
    text-decoration: none;

    &:hover {
        color: var(--search-primary);
    }
}

header {
    position: sticky;
    top: 0;
    background: #9864ff;
    color: white;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

ul {
    list-style: none;
    padding-left: 0;

    li {
        margin-bottom: 0.35rem;
    }
}

.navbar {
    padding: 0 1rem;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    ul {
        display: flex;

        li {
            margin: 0.5rem;
        }
    }
}

.nav-link {
    padding: 0.25rem;
    cursor: pointer;
    padding: 0;
    background: inherit;
    border: 0;
    color: inherit;
}

.content {
    padding: 1rem;
    overflow: auto;
    word-wrap: break-word;
    display: flex;
    flex-direction: row;
}

// For test whether the search result jump to the correct anchor.
.main {
    flex: 1;
    word-break: break-word;
    h2 {
        margin-bottom: 32rem;
    }
}

.sidebar {
    max-width: 240px;

    @media (max-width: 576px) {
        display: none;
    }
}

.main,
.sidebar {
    padding: 0 1rem;
}
